<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Sistema de Estoque</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<style>
		body {
			padding-top: 4.5rem;
		}
	</style>
</head>

<body>
	<div th:replace="fragments/menu :: menu"></div>
	<div class="container">
		<div class="bg-light p-5 rounded">
			<h1>Item da Nota de Entrada</h1>
			<hr>
			<div>
				<form th:action="@{/nota-entrada-item}" th:object="${notaEntradaItem}" method="POST">
					<input id="id" type="hidden" th:field="*{id}" />
					<div class="row">
						<h5>Dados da Nota</h5>
						<div class="col-2 mb-3">
							<label class="form-label" for="notaEntrada">Número</label>
							<input class="form-control" id="notaEntrada" th:field="*{notaEntrada.id}" type="text"
								readonly />
						</div>
						<div class="col-4 mb-3">
							<label class="form-label" for="fornecedor">Fornecedor</label>
							<input class="form-control" id="fornecedor"
								th:field="*{notaEntrada.fornecedor.nomeFantasia}" type="text" readonly />
						</div>
					</div>
					<br />
					<div class="row">
						<h5>Dados do Item</h5>
						<div class="col-6 mb-3">
							<label class="form-label" for="produto">Produto</label>
							<select class="form-select" id="produto" th:field="*{produto.id}">
								<option value="">Selecione um produto</option>
								<option th:each="produto : ${produtos}" th:value="${produto.id}"
									th:text="${produto.nome}"></option>
							</select>
							<span style="color: red" th:if="${#fields.hasErrors('produto')}"
								th:errors="*{produto}"></span>
						</div>
						<div class="col-2 mb-3">
							<label class="form-label" for="quantidade">Qtde</label>
							<input class="form-control" id="quantidade" th:field="*{quantidade}" type="number" />
							<span style="color: red" th:if="${#fields.hasErrors('quantidade')}"
								th:errors="*{quantidade}"></span>
						</div>
						<div class="col-2 mb-3">
							<label class="form-label" for="valorUnitario">Val. Unt (R$)</label>
							<input class="form-control" id="valorUnitario" th:field="*{valorUnitario}" type="number" />
							<span style="color: red" th:if="${#fields.hasErrors('valorUnitario')}"
								th:errors="*{valorUnitario}"></span>
						</div>
						<div class="col-2 mb-3">
							<label class="form-label" for="valorTotal">Val. Total (R$)</label>
							<input class="form-control" id="valorTotal" th:field="*{valorTotal}" step="any"
								type="number" readonly />
							<span style="color: red" th:if="${#fields.hasErrors('valorTotal')}"
								th:errors="*{valorTotal}"></span>
						</div>
					</div>
					<div class="mb-3">
						<input class="btn btn-primary" type="submit" value="Salvar" />
					</div>
				</form>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
		integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script>
		function formataValor(campo) {
			var valor = parseFloat($(campo).val());
			if (!isNaN(valor)) {
				$(campo).val(valor.toFixed(2));
			}
		}

		function calcularTotalItem() {
			var qtde = parseFloat($("#quantidade").val());
			var valor = parseFloat($("#valorUnitario").val());

			if (isNaN(qtde) || isNaN(valor))
				$("#valorTotal").val('');
			else {
				$("#valorTotal").val(parseFloat(qtde * valor));

				formataValor("#valorUnitario");
				formataValor("#valorTotal");
			}
		}

		$("#quantidade").change(function () {
			calcularTotalItem();
		});
		$("#valorUnitario").change(function () {
			calcularTotalItem();
		});

		$(document).ready(function () {
			formataValor("#valorUnitario");
			formataValor("#valorTotal");
		});
	</script>

</body>

</html>