<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Sistema de Estoque</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
		  rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
		  crossorigin="anonymous">
	<style>
		body {
			padding-top: 4.5rem;
		}
    </style>
</head>
<body>
    <div th:replace="fragments/menu :: menu"></div>

	<div class="container">
		<div class="bg-light p-5 rounded">
			<h1>Nota de Entrada</h1>
			<hr>
			<div>
				<form th:action="@{/nota-entrada}" method="POST">
					<input id="id" type="hidden" th:field="*{notaEntrada.id}"/>
					<div th:if="${!#strings.isEmpty(feedback)}" class="alert alert-success" role="alert">
	  					<span th:text="${feedback}"></span>
					</div>
					<div class="row">
						<div class="col-4 mb-3">
							<label class="form-label" for="fornecedor">Fornecedor</label>
							<select class="form-select" id="fornecedor" th:field="*{notaEntrada.fornecedor.id}">
								<option value="">Selecione um fornecedor</option>
								<option th:each="fornecedor : ${fornecedores}"
								        th:value="${fornecedor.id}"
								        th:text="${fornecedor.nomeFantasia}"></option>
							</select>
							<span style="color: red"
							      th:if="${#fields.hasErrors('notaEntrada.fornecedor')}"
							      th:errors="*{notaEntrada.fornecedor}"></span>
						</div>
						<div class="col-4 mb-3">
							<label class="form-label" for="dataHora">Data da compra</label>
							<input class="form-control" id="dataHora" type="datetime-local"
							       th:field="*{notaEntrada.dataHora}"/>
							<span style="color: red"
							      th:if="${#fields.hasErrors('notaEntrada.dataHora')}"
							      th:errors="*{notaEntrada.dataHora}"></span>
						</div>
						<div class="col-4 mb-3">
							<label class="form-label" for="total">Total (R$)</label>
							<input class="form-control" id="total" th:field="*{notaEntrada.total}" step="any"
							       type="number" readonly/>
							<span style="color: red" th:if="${#fields.hasErrors('notaEntrada.total')}"
							      th:errors="*{notaEntrada.total}"></span>
						</div>
						<input class="btn btn-primary" type="submit" value="Salvar"/>
					</div>
				</form>
				<a class="btn btn-sm btn-success" th:ref="@{/nota-entrada/{id}/item(id=${notaEntrada.id})}">Adicione um produto</a>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>